.body {
  row-gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-page {
  row-gap: 30px;
}

.background {
  display: flex;
  justify-content: center;
}

.nav-mob {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: -10px;
}

.icon {
  width: 24px;
  height: 20px;
  margin-top: 25px;
  margin-left: -20px;
}

.menu-links {
  position: fixed;
  background-color: rgba(112, 124, 118, 0.6);
  backdrop-filter: blur(7px);
  display: none;
  align-items: center;
  gap: 30px;
  flex-direction: column;
  list-style: none;
  width: 80%;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 11;
}

.close-link {
  position: absolute;
  left: 33px;
  top: 19px;
}

.menu-links a {
  text-decoration: none;
  color: #fff;
  font-family: 'lato', sans-serif;
  font-size: 25px;
}

.logo {
  height: 100px;
  width: 100px;
  margin: 40px;
}

.enroll {
  padding: 20px 20%;
  color: #ff4f37;
  border: 1px solid white;
  font-size: 40px;
  margin-top: 50px;
}

.title {
  font-family: Poppins, sans-serif;
  font-weight: normal;
  color: rgb(255, 4, 4);
  line-height: 30px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-top: 50px;
}

.div-text {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-family: Poppins, sans-serif;
  font-weight: normal;
  background-image: url('./image/about_bg_02.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: -8px;
  padding-bottom: 20px;
}

.title-home-page {
  font-family: Poppins, sans-serif;
  font-weight: 900px;
  font-size: 23px;
  color: rgb(255, 67, 4);
  line-height: 25px;
  justify-content: center;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -12px;
}

.dec-home-page {
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 11px;
  line-height: 18px;
  color: rgb(30, 29, 79);
  text-align: center;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border: 0.5px solid rgb(227, 227, 241);
}

.subtitle-home-page {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  justify-content: center;
  margin-left: 40px;
  margin-right: 40px;
  color: rgb(61, 57, 57);
  margin-top: -10px;
  text-decoration: underline;
}

.subdec-home-page {
  font-family: Poppins, sans-serif;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  justify-content: center;
  margin-left: 40px;
  margin-right: 40px;
  color: rgb(88, 88, 88);
}

.creative {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}

.sec-creative {
  width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.title-creative {
  color: rgb(0, 0, 0);
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 20px;
  margin-top: 40px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.line-creative {
  background-color: rgb(250, 54, 6);
  height: 1.5px;
  width: 25px;
  margin-top: -6px;
  margin-bottom: 30px;
}

.image-creative {
  width: 260px;
  height: 250px;
  padding: 15px;
  margin-top: 10px;
  border: 0.5px solid rgb(227, 227, 241);
}

.dec-creative {
  color: rgb(0, 0, 0);
  font-weight: normal;
  font-size: 11px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: -10px;
  text-align: center;
  font-family: Poppins, sans-serif;
}

.second-line-creative {
  background-color: rgb(227, 227, 241);
  height: 0.5px;
  width: 100%;
  margin-top: 30px;
  margin-left: -10px;
  margin-right: -10px;
}

.second-title-creative {
  color: rgb(0, 0, 0);
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 20px;
  margin-top: 40px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.div-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second-image-creative {
  width: 300px;
  margin-top: 15px;
  border-radius: 10px;
  display: flex;
}

.image:hover {
  border-radius: 10px;
  transform: scale(1.1);
}

.paretner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5e5e5e;
  margin-top: 30px;
  margin-left: -8px;
  margin-right: -8px;
}

.sec-paretner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title-paretner {
  color: rgb(255, 255, 255);
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 20px;
  margin-top: 30px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.first-item-paretner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.image-item-paretner {
  width: 60px;
  height: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.sec-footer {
  width: 375px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.dec-footer {
  color: rgb(0, 0, 0);
  font-weight: normal;
  font-size: 11px;
  margin-left: 20px;
  margin-right: 40px;
  text-align: center;
  font-family: Poppins, sans-serif;
}

.image-footer {
  width: 100px;
  height: 100px;
  margin-left: 40px;
  margin-right: 20px;
}

.top-bar {
  display: none;
}

.head-desk {
  display: none;
}

/* for desctop version */
@media only screen and (min-width: 768px) {
  .head-mob {
    display: none;
  }

  .background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    background-color: rgb(245, 245, 246);
    margin-left: -10px;
    margin-right: -10px;
  }

  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-page {
    row-gap: 30px;
  }

  .top-bar {
    height: 50px;
    margin-top: -10px;
    background-color: #5e5e5e;
    display: flex;
    object-fit: fill;
    align-items: flex-end;
    justify-content: end;
    margin-left: -8px;
    margin-right: -8px;
  }

  .div-top-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    margin-bottom: 5px;
  }

  .top-item {
    font-size: 15px;
    color: #fff;
    font-weight: normal;
    font-family: Poppins, sans-serif;
    margin: 10px;
  }

  .head-desk {
    height: 100px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 150px;
    margin-left: 150px;
  }

  .nav-des {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-link {
    margin-left: 60px;
    margin-right: 60px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-family: Poppins, sans-serif;
    text-decoration: none;
  }

  .nav-link:hover {
    color: rgb(255, 0, 0);
  }

  .des-enroll {
    color: #ff4f37;
    border: 3px solid rgb(255, 0, 0);
    font-size: 20px;
    padding: 15px;
    font-family: Poppins, sans-serif;
    text-decoration: none;
    margin: 40px;
  }

  .des-enroll:hover {
    color: #fff;
    border: 3px solid rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
    font-size: 20px;
    padding: 10px;
    font-family: Poppins, sans-serif;
    text-decoration: none;
    margin: 40px;
  }

  .des-logo {
    height: 100px;
    width: 100px;
    margin: 40px;
  }

  .div-text {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-family: Poppins, sans-serif;
    font-weight: normal;
    background-image: url('./image/about_bg_01.png');
    background-color: rgb(245, 245, 246);
    background-repeat: no-repeat;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: 1px;
  }

  .title {
    display: none;
  }

  .title-home-page {
    font-family: Poppins, sans-serif;
    font-weight: 900px;
    font-size: 40px;
    color: rgb(255, 17, 4);
    line-height: 60px;
    justify-content: center;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 10px;
  }

  .dec-home-page {
    font-family: Poppins, sans-serif;
    font-weight: normal;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
    line-height: 30px;
    color: rgb(30, 29, 79);
    text-align: center;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    height: 200px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border: 0.5px solid rgb(227, 227, 241);
  }

  .subtitle-home-page {
    font-family: Poppins, sans-serif;
    font-weight: 900px;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    justify-content: center;
    margin-left: 250px;
    margin-right: 250px;
    color: rgb(88, 88, 88);
  }

  .subdec-home-page {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
    color: rgb(88, 88, 88);
    margin-top: 25px;
  }

  .creative {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -8px;
    margin-right: -8px;
    padding: 80px;
  }

  .sec-creative {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
  }

  .title-creative {
    color: rgb(0, 0, 0);
    font-family: Poppins, sans-serif;
    font-weight: normal;
    font-size: 40px;
  }

  .line-creative {
    background-color: rgb(250, 54, 6);
    height: 1.5px;
    width: 50px;
    margin-top: -25px;
    margin-bottom: 30px;
  }

  .image-creative {
    width: 360px;
    height: 380px;
    padding: 15px;
    margin-top: 10px;
    border: 0.5px solid rgb(227, 227, 241);
  }

  .dec-creative {
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-size: 18px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: -10px;
    text-align: center;
    font-family: Poppins, sans-serif;
  }

  .second-line-creative {
    background-color: rgb(227, 227, 241);
    height: 0.5px;
    width: 100%;
    margin-top: 30px;
    margin-left: -30px;
    margin-right: -30px;
  }

  .second-title-creative {
    color: rgb(0, 0, 0);
    font-family: Poppins, sans-serif;
    font-weight: normal;
    font-size: 40px;
  }

  .div-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .second-image-creative {
    width: 300px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    display: flex;
  }

  .paretner {
    display: none;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-color: #5e5e5e;
    margin: -10px -10px;
  }

  .sec-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #5e5e5e;
  }

  .dec-footer {
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 40px;
    text-align: center;
    font-family: Poppins, sans-serif;
  }

  .image-footer {
    width: 150px;
    height: 150px;
    margin-left: 40px;
    margin-right: 20px;
  }

  .image:hover {
    border-radius: 10px;
    transform: scale(1.1);
  }
}
